body {
    background: #1b1b1b;
}
h1, h2 {
    margin: 0;
}
.conteiner {
    margin: 0 auto;
    width: 1127px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}
header {
    height: 923px;
    background-image:url(../img/Items\ Here.svg),url(../img/Group\ 8.png);
    background-position: 70% 183px,right;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
}

section.conteiner > div.logotip {
    padding-top: 282px;
}

section.conteiner > div.header_content {
    padding-top: 33px;
    font-size: 18px;
    line-height: 29px;
    color:#FFFFFF;
}

main {
    box-sizing: border-box;
}

main > section.first {
    box-sizing: border-box;
    height: 3213px;
    background:white;
    margin-top: -84px;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

section.first > div.conteiner > div > h1 {
    font-size: 53px;
    color: #333333;
    
}

section.first > div.conteiner > div > p {
    color: #333333;
    font-size: 20px;
    line-height: 29px;
    margin-top: 13px;
}
section.first > div.conteiner > hr {
    margin-top: 73px;
    border: 1px solid #f2f2f2;
}

section.first > div.conteiner > div:nth-child(1) {
    margin-top: 73px;
}

section.first > div.conteiner > div:nth-child(2) {
    margin-top: 73px;
}

section.first > div.conteiner > div:nth-child(2) {
    margin-top: 73px;
}

section.first > div.conteiner > div:nth-child(4) {
    margin-top: 53px;
}
main > section.first > div.conteiner > div.content {
    width: 1678px;
    display: grid;
    margin-top: 79px;
    margin-left: -572px;
    row-gap: 40px;
    background: no-repeat url(../img/Ellipse.png)91px 125px;
    background-size: revert;
    grid-template-columns:1fr 1fr 1fr 310px;
    grid-auto-rows: 1fr;
    grid-template-areas: 
    ". img1 img1 txt"
    "img2 img2 img3 img3"
    "img4 img4 img5 img5";
}

main > section.first >  div.conteiner > div.content >  div:nth-child(1) {
    grid-area: img1;
    margin-left: 110px;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(2) {
    grid-area: txt;
    font-size: 38px;
    direction: rtl;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(1) {
    border-top: 5px solid #FD3300;
    width: 45px;
    margin-top: -20px;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(2) {
    margin-top: 6px;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(3) {
    border-top: 5px solid #FD3300;
    width: 45px;
    margin-top: 72px;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(4) {
    margin-top: 6px;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(5) {
    border-top: 5px solid #FD3300;
    width: 45px;
    margin-top: 74px;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(6) {
    margin-top: 10px;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(3) {
    grid-area: img2;
    margin-left: 165px;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(4) {
    grid-area: img3;
    margin-left: -250px;
}

main > section.first >  div.conteiner >div.content >  div:nth-child(5) {
    grid-area: img4;
    margin-left: 275px;
}

main > section.first >  div.conteiner > div.content >  div:nth-child(6) {
    grid-area: img5;
    margin-left: 100px;
}

main > section.first > div.conteiner > div.content2 {
    margin-top: 108px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 230px 169px 892px;
    grid-template-areas: 
    "a  a  a"
    "b1 b2 b3"
    "c  c  c";
}

main > section.first > div.conteiner > div.content2 > div:nth-child(1) {
    grid-area: a;
}

main > section.first > div.conteiner > div.content2 > div:nth-child(1) > h1 {
    font-size: 50px;
    margin-top: -5px;
}

main > section.first > div.conteiner > div.content2 > div:nth-child(1) > p {
    font-size: 21px;
    margin-top: 27px;
}

main > section.first > div.conteiner > div.content2 > div:nth-child(2) {
    grid-area: b1;
    background: no-repeat url(../img/gears.png) ;
    background-size: auto;
    background-position: 156px 0px;
    text-align: center;
    padding-top: 84px;
    font-size: 21px;
    padding-right: 6px;
    line-height: 22px;
}
main > section.first > div.conteiner > div.content2 > div:nth-child(3) {
    grid-area: b2;
    background: no-repeat url(../img/f1.png) top;
    background-size: auto;
    text-align: center;
    padding-top: 84px;
    font-size: 21px;
    padding-right: 37px;
    line-height: 22px;
}
main > section.first > div.conteiner > div.content2 > div:nth-child(4) {
    grid-area: b3;
    background: no-repeat url(../img/dashboard.png) ;
    background-position: 156px 15px;
    background-size: auto;
    text-align: center;padding-top: 84px;
    font-size: 21px;
    line-height: 22px;
}
main > section.first > div.conteiner > div.content2 > div:nth-child(5) {
    grid-area: c;
}
main > section.first > div.conteiner > div.content2 > div:nth-child(5) > img {
    width: 100%
}

main > section.secondary {
    height: 906px;
    box-sizing: border-box;
    background: url(../img/Group.png);
    background-repeat: no-repeat;
    background-position: 108px -1318px;
    background-size: auto;
}

section.secondary > div.phone {
    background: no-repeat url(../img/Phone.svg);
    width: 594px;
    height: 590px;
    position: absolute;
    left: calc(49% + 4px);
    top: 4554px;
}

section.secondary > div {
    width: 1130px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  305px 93px 375px;
    grid-template-areas:
    "a  a  a"
    "b1 b2 b3"
    "c  c  c";
}

section.secondary > div > div:nth-child(1) {
    grid-area: a;
}

section.secondary > div > div:nth-child(1) > h1 {
    font-size: 45px;
    margin-top: 112px;
    margin-bottom: 24px;
    color: white;
}

section.secondary > div > div:nth-child(1) > span {
    color: white;
    font-size: 20px;
    line-height: 28px;
}

section.secondary > div > div:nth-child(2) {
    grid-area: b1;
    background: no-repeat url(../img/Arrow\ 2.svg);
    background-position: 40% 0%;    
}

section.secondary > div > div:nth-child(2) > h1 {
    margin-left: 53px;
    margin-top: 25px;
    font-size: 45px;
    color: #FD351E;
}

section.secondary > div > div:nth-child(2) > p {
    margin-left: 13%;
    color: white;
}
section.secondary > div > div:nth-child(3) {
    grid-area: b2;
    background: no-repeat url(../img/Arrow\ 2.svg);
    background-position: 47% 0;
}

section.secondary > div > div:nth-child(3) > h1 {
    margin-left: 38%;
    margin-top: 25px;
    font-size: 45px;
    color: #FD351E;
}

section.secondary > div > div:nth-child(3) > p {
    margin-left: 20%;
    color: white;
}

section.secondary > div > div:nth-child(4) {
    grid-area: b3;
    background: no-repeat url(../img/Arrow\ 2.svg);
    background-position: 54% 0%;
}

section.secondary > div > div:nth-child(4) > h1 {
    margin-left: 30%;
    margin-top: 25px;
    font-size: 45px;
    color: #FD351E;
}

section.secondary > div > div:nth-child(4) > p {
    margin-left: 25%;
    color: white;
}

section.secondary > div > div:nth-child(5) {
    grid-area: c;
}

section.secondary > div > div:nth-child(5) > h1 {
    font-size: 45px;
    margin-top: 190px;
    margin-bottom: 23px;
    color: white;
}

section.secondary > div > div:nth-child(5) > span {
    color: white;
    font-size: 20px;
    line-height: 28px;
}


main > section.third{
    height:735px;
    background: white;
    margin: 0 auto;
    box-sizing: border-box;
}

section.third > div {
    width: 1130px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 119px 59px 37px 160px 258px;
    grid-template-areas:
    "a  a"
    "b  b"
    "c  c"
    "d  d"
    "f1 f2" ;
}

section.third > div > div:nth-child(1) {
    padding-top: 32px;
    line-height: 21px;
    grid-area: a;
}

section.third > div > div:nth-child(2) {
    grid-area: b;

}

section.third > div > div:nth-child(2) > button {
    background: no-repeat url(../img/Arrow\ 2\ \(2\).svg)  199px center, linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%);
    background-size: revert;
    border: none;
    
    cursor: pointer;
    margin-top: 4px;
    width: 239px;
    height: 54px;
    border-radius: 3px;
    color: white;
    padding-left: 27px;
    text-align: start;
    transition: all 200ms linear;
}

section.third > div > div:nth-child(2) > button:hover {
    width: 245px;
    height: 58px;
    box-shadow: 1px 1px 8px 4px #3c86ef;
}

section.third > div > div:nth-child(3) {
    padding-top: 26px;
    grid-area: c;
}

section.third > div > div:nth-child(3) hr {
    border: 1px solid rgba(0, 0, 0, 0.05);;
}


section.third > div > div:nth-child(4) {
    grid-area: d;
    color: #333333;
    padding-top: 65px;
    font-size: 51px;
    font-weight: 700;
}

section.third > div > div:nth-child(5) {
    grid-area: f1;
    width: 542px;
    border-radius: 3px;
    background: no-repeat url(../img/Group\ 9.1.png);
    display: flex;
    transition: all 400ms ease;
}

.mobillapp {
    border-radius: 3px;
    display: none;
    width: 100%;
    height: 100%;
    transition: all 400ms ease 1s;
}

.itunes {
    width: 50%;
    height: 100%;
    background: no-repeat url(../img/icons8-google-play-240.png) center;
    background-size: 50%;
    display: block;
    cursor: pointer;
    transition: all 200ms ease 100ms;
}

.googleplay {
    width: 50%;
    height: 100%;
    background: no-repeat url(../img/icons8-apple-app-store-240.png) center;
    background-size: 50%;
    display: block;
    cursor: pointer;
    transition: all 200ms ease 100ms;
}

section.third > div > div:nth-child(5):hover {
    background: white;
    box-shadow: 1px 1px 8px 3px #3c86ef;
}


section.third > div > div:nth-child(5):hover .mobillapp {
    display: flex;
}

.googleplay:hover {
    background-size: 60%;
}

.itunes:hover {
    background-size: 60%;
}

section.third > div > a:nth-child(6) {
    grid-area: f2;
    display: block;
    width: 542px;
    cursor: pointer;
    background: no-repeat url(../img/Group\ 10.png);
    transition: all 200ms linear;
    border-radius: 3px;
}



section.third > div > a:nth-child(6):hover{
    background: no-repeat url(../img/babystep.com.ua_.png);
    background-size: cover;
    width: 542px;
    box-shadow: 1px 1px 8px 3px #3c86ef;
    animation: backgoundpos 10s linear 200ms 1 alternate none;
}

@keyframes backgoundpos {
    0% {
        
        background-position: auto;
    }

    50% {

        background-position: 0 100%;
    }

    0% {
        background-position: auto;
    }

}

footer > div.info {
    box-sizing: border-box;
    display: grid;
    width: 1130px;
    margin: 0 auto;
    padding-top: 64px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 63px 41px 43px 27px;
    grid-template-areas: 
    "a a1 a2 a3"
    "b b1 a2 a3"
    "b c1 a2 a3"
    ". d1 a2 a3";
}

footer > div.info > div {
    color: white;
}

footer > div.info > div:nth-child(1) > button {
    background: no-repeat url(../img/Arrow\ 2\ \(2\).svg) 199px center, linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%);
    background-size: revert;
    width: 239px;
    height: 54px;
    margin-top: 9px;
    margin-left: 3px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    padding-left: 27px;
    grid-area: a;
    text-align: start;
    color: white;
    transition: all 200ms linear;
}

footer > div.info > div:nth-child(1) >  button:hover {
    width: 245px;
    height: 58px;
    box-shadow: 1px 1px 8px 4px #3c86ef;
}

footer > div.info > div:nth-child(2) {
    line-height: 22px;
    padding-top: 21px;
    grid-area: b;
}

footer > div.info > div:nth-child(3) {
    background: no-repeat url(../img/telegram.png) 74px 8px;
    grid-area: a1;
    padding-left: 110px;
    line-height: 21px;
}

footer > div.info > div:nth-child(4) {
    background: no-repeat url(../img/viber.png)  77px 1PX;
    grid-area: b1;
    padding-left: 110px;
}

footer > div.info > div:nth-child(5) {
    background: no-repeat url(../img/viber.png)  77px 1PX;
    grid-area: c1;
    padding-left: 110px;
}

footer > div.info > div:nth-child(6) {
    background: no-repeat url(../img/Email.png)  77px 1PX;
    grid-area: d1;
    padding-left: 110px;
}

footer > div.info > div:nth-child(7) {
    grid-area: a2;
}

footer > div.info > div:nth-child(7) > h4 {
    margin: 0;
    padding-left: 27%;
    font-size: 20px;
}

footer > div.info > div:nth-child(7) > p:nth-child(2) {
    margin: 0;
    margin-top: 10px;
    margin-left: 76px;
    font-size: 15px;
    line-height: 20px;
}

footer > div.info > div:nth-child(7) > p:nth-child(3) {
    margin: 0;
    margin-top: -3px;
    margin-left: 76px;
    font-size: 15px;
    line-height: 20px;
}

footer > div.info > div:nth-child(8) > h4 {
    margin: 0;
    padding-left: 19%;
    font-size: 20px;
}

footer > div.info > div:nth-child(8) > p {
    margin: 0;
    margin-top: 7px;
    margin-left: 55px;
    font-size: 16px;
    line-height: 22px;
}

@media only screen and (max-width:1919px){
    main > section.first > div.conteiner > div.content {
        width: 1130px;
        display: grid;
        margin: 0 auto;
        margin-top: 79px;
        row-gap: 10px;
        background: no-repeat url(../img/Ellipse.png)91px 125px;
        background-size: revert;
        grid-template-columns:1fr 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas: 
        "img1 txt"
        "img2  img3"
        "img4  img5";
    }

    main > section.first >  div.conteiner > div.content >  div:nth-child(1) {
        margin: 0px;
    }

    main > section.first >  div.conteiner > div.content >  div:nth-child(3) {
        margin: 0px;
    }
    
    main > section.first >  div.conteiner > div.content >  div:nth-child(4) {
        margin: 0px;
    }
    
    main > section.first >  div.conteiner >div.content >  div:nth-child(5) {
        margin: 0px;
    }
    
    main > section.first >  div.conteiner > div.content >  div:nth-child(6) {
        margin: 0px;
    }
    main > section.first >  div.conteiner > div.content >  div > img {
        width: 100%;
    }

}

@media only screen and (max-width:1130px) {
    a {
        text-decoration: none;
        color: grey;
    }
    main {
        box-sizing: border-box;
        height: 100%;
    }
    .conteiner {
        width: 100%;
    }

    header {
        box-sizing: border-box;
        height: 700px;
        background-image:url(../img/Items\ Here.svg);
        background-position: 100% 1px;
        background-size: 60%;
        background-repeat: no-repeat;
        position: relative;
        padding: 5px;
    }

    section.conteiner > div.logotip {
        padding-top: 320px;
    }

    main > section.first {
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        padding-right: 5px;
        padding-left: 5px;
    }

    main > section.first > div.conteiner > div.content {
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
        row-gap: 0px;
        background: none;
        background-size: revert;
        grid-template-columns:1fr;
        grid-template-rows: 200px repeat(4,1fr);
        grid-template-areas: 
        "txt"
        "img1"
        "img2"  
        "img3"
        "img4" 
        "img5";
    }

    main > section.first > div.conteiner > div > h1 {
        text-align: center;
    }

    main > section.first >  div.conteiner > div.content >  div > img {
        width: 100%;
    }


    main > section.first >  div.conteiner > div.content >  div:nth-child(2) {
        grid-area: txt;
        font-size: 26px;
        direction: rtl;
    }
    
    main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(1) {
        border-top: 5px solid #FD3300;
        width: 45px;
        margin-top: 10px;
    }
    
    main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(2) {
        margin-top: 6px;
    }
    
    main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(3) {
        border-top: 5px solid #FD3300;
        width: 45px;
        margin-top: 15px;
    }
    
    main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(4) {
        margin-top: 6px;
    }
    
    main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(5) {
        border-top: 5px solid #FD3300;
        width: 45px;
        margin-top: 15px;
    }
    
    main > section.first >  div.conteiner > div.content >  div:nth-child(2) > div:nth-child(6) {
        margin-top: 10px;
    }

    main > section.first > div.conteiner > div:nth-child(4) > h1 {
        font-size: 36px;
        text-align: center;
    }

    main > section.first > div.conteiner > div.content2 {
        margin: 0;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 300px 1fr;
        grid-template-areas: 
        "a  a  a"
        "b1 b2 b3"
        "c  c  c"
    }

    main > section.first > div.conteiner > div.content2 > div:nth-child(1) {
        grid-area: a;
    }
    
    main > section.first > div.conteiner > div.content2 > div:nth-child(1) > h1 {
        font-size: 50px;
        margin-top: -5px;
        text-align: center;
        font-size: 36px;
    }
    
    main > section.first > div.conteiner > div.content2 > div:nth-child(1) > p {
        font-size: 21px;
        margin-top: 27px;
    }
    
    main > section.first > div.conteiner > div.content2 > div:nth-child(2) {
        grid-area: b1;
        background: no-repeat url(../img/gears.png) ;
        background-size: auto;
        background-position: center;
        text-align: center;
        padding-top: 200px;
        font-size: 21px;
        padding-right: 6px;
        line-height: 22px;
    }
    main > section.first > div.conteiner > div.content2 > div:nth-child(3) {
        grid-area: b2;
        background: no-repeat url(../img/f1.png)center;
        background-size: auto;
        text-align: center;
        padding-top: 200px;
        font-size: 21px;
        padding-right: 0;
        line-height: 22px;
    }
    main > section.first > div.conteiner > div.content2 > div:nth-child(4) {
        grid-area: b3;
        background: no-repeat url(../img/dashboard.png) ;
        background-position: center;
        background-size: auto;
        text-align: center;
        padding-top: 200px;
        font-size: 21px;
        line-height: 22px;
    }


    main > section.secondary {
        height: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 50px;
        box-sizing: border-box;
    }

    section.secondary > div {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:  1fr;
        grid-template-areas:
        "a  a  a"
        "b1 b2 b3"
        "c  c  c";
    }

    section.secondary > div.phone {
        display: none;
    }

    section.secondary > div > div:nth-child(1) {
        grid-area: a;
        margin-bottom: 50px;
    }

    section.secondary > div > div:nth-child(1) > h1 {
        text-align: center;
    }

    section.secondary > div > div:nth-child(2) {
        grid-area: b1;
        background: no-repeat url(../img/Arrow\ 2.svg);
        background-position: center  0;    
    }
    
    section.secondary > div > div:nth-child(2) > h1 {
        margin: 14px auto;
        text-align: center;
        font-size: 30px;
        color: #FD351E;
    }
    
    section.secondary > div > div:nth-child(2) > p {
        margin: 0;
        text-align: center;
        color: white;
    }
    section.secondary > div > div:nth-child(3) {
        grid-area: b2;
        background: no-repeat url(../img/Arrow\ 2.svg);
        background-position: center  0; 
    }
    
    section.secondary > div > div:nth-child(3) > h1 {
        margin: 14px auto;
        text-align: center;
        font-size: 30px;
        color: #FD351E;
    }
    
    section.secondary > div > div:nth-child(3) > p {

        color: white;
        margin: 0;
        text-align: center;
    }
    
    section.secondary > div > div:nth-child(4) {
        grid-area: b3;
        background: no-repeat url(../img/Arrow\ 2.svg);
        background-position: center  0; 
    }
    
    section.secondary > div > div:nth-child(4) > h1 {
        margin: 14px auto;
        text-align: center;
        font-size: 30px;
        color: #FD351E;
    }
    
    section.secondary > div > div:nth-child(4) > p {
        margin: 0;
        text-align: center;
        color: white;
    }

    section.secondary > div > div:nth-child(5) {
        display: none;
    }

    main > section.third{
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 10px;
    }

    section.third > div {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        row-gap: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr) 50%; 
        grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d d"
        "f1 f2"; 
    }

    section.third > div {
        width: 100%;
        height: 100%;
    }

    section.third > div > div:nth-child(1) {
        padding-top: 32px;
        line-height: 21px;
        grid-area: a;
    }
    
    section.third > div > div:nth-child(2) {
        grid-area: b;
    
    }
    
    section.third > div > div:nth-child(2) > button {
        border: none;
        cursor: pointer;
    }
    
    section.third > div > div:nth-child(3) {
        padding-top: 26px;
        grid-area: c;
    }
    
    section.third > div > div:nth-child(3) hr {
        border: 1px solid rgba(0, 0, 0, 0.05);;
    }
    
    
    
    section.third > div > div:nth-child(4) {
        grid-area: d;
        color: #333333;
        padding-top: 0px;
        font-size: 30px;
        font-weight: 700;
    }

    section.third > div > div:nth-child(5) {
        grid-area: f1;
        width: 100%;
        background-size: contain;
        background-position: center;
    }
    
    section.third > div > a:nth-child(6) {
        grid-area: f2;
        width: 100%;
        background-size: contain;
        background-position: center;
    }

    section.third > div > a:nth-child(6):hover {
        width: 100%;
    }

    footer {
        padding-right: 5px;
        padding-left: 5px;
        
    }

    footer > div.info {
        width: 100%;
        height: 100%;
        padding-top: 10px;
        row-gap: 5px;
        grid-template-columns: 3fr 2fr;
        grid-auto-rows: 1fr;
        grid-template-areas: 
        "a  a"
        "b  b"
        "a1 a2"
        "b1 a2"
        "c1 a2"
        "d1 a2"
        ". a3"
        ". a3"
        ". a3";
    }
    
    footer > div.info > div {
        color: white;
    }

    footer > div.info > div:nth-child(1) {
        grid-area: a;
    }
    
    footer > div.info > div:nth-child(1) > button {
        background: no-repeat url(../img/Arrow\ 2\ \(2\).svg) 199px 22px, linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%);
        background-size: revert;
        width: 239px;
        height: 54px;
        margin-top: 4px;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        cursor: pointer;
        text-align: start;
        color: white;   
    }
    
    footer > div.info > div:nth-child(2) {
        line-height: 22px;
        padding-top: 0;
        grid-area: b;
    }

    footer > div.info > div:nth-child(2) > br {
        display: none;
    }
    
    footer > div.info > div:nth-child(3) {
        background: no-repeat url(../img/telegram.png) 0px 15px;
        grid-area: a1;
        padding-left: 20px;
        line-height: 21px;
    }
    
    footer > div.info > div:nth-child(4) {
        background: no-repeat url(../img/viber.png)  ;
        grid-area: b1;
        padding-left: 20px;
    }
    
    footer > div.info > div:nth-child(5) {
        background: no-repeat url(../img/viber.png) ;
        grid-area: c1;
        padding-left: 20px;
    }
    
    footer > div.info > div:nth-child(6) {
        background: no-repeat url(../img/Email.png)  ;
        grid-area: d1;
        padding-left: 20px;
    }
    
    footer > div.info > div:nth-child(7) {
        grid-area: a2;
    }
    
    footer > div.info > div:nth-child(7) > h4 {
        margin: 0;
        padding-left: 0;
        font-size: 20px;
    }
    
    footer > div.info > div:nth-child(7) > p:nth-child(2) {
        margin: 0;
        margin-top: 10px;
        margin-left: 0;
        font-size: 15px;
        line-height: 20px;
    }
    
    footer > div.info > div:nth-child(7) > p:nth-child(3) {
        margin: 0;
        margin-top: -3px;
        margin-left: 0;
        font-size: 15px;
        line-height: 20px;
    }
    
    footer > div.info > div:nth-child(8) {
        grid-area: a3;
        padding: 0;
    }

    footer > div.info > div:nth-child(8) > h4 {
        margin: 0;
        padding-left:0;
        font-size: 20px;
    }
    
    footer > div.info > div:nth-child(8) > p {
        margin: 0;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 16px;
        line-height: 22px;
    }
}

@media  only screen and (max-width: 1000px) {
    main > section.third {
        height: auto;
    }
    section.third > div {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 430px 430px; 
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "f1"
        "f2"; 
    }
}

@media  only screen and (max-width: 800px) {
    main > section.third {
        height: auto;
    }
    section.third > div {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 370px 370px; 
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "f1"
        "f2"; 
    }
}

@media  only screen and (max-width: 700px) {
    main > section.third {
        height: auto;
    }
    section.third > div {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 350px 350px; 
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "f1"
        "f2"; 
    }
}

@media  only screen and (max-width: 600px) {
    header {
        background-size: 360px;
    }

    main > section.third {
        height: auto;
    }
    section.third > div {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 330px 330px; 
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "f1"
        "f2"; 
    }

    main > section.first >  div.conteiner > div.content >  div:nth-child(2) {
        font-size: 22px;
    }
}
@media  only screen and (max-width: 500px) {
    main > section.third {
        height: auto;
    }
    section.third > div {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 310px 310px; 
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "f1"
        "f2"; 
    }
}